[submodule "references/rust-reference"]
	path = references/rust-reference
	url = https://github.com/rust-lang/reference.git
[submodule "references/godot-docs"]
	path = references/godot-docs
	url = https://github.com/godotengine/godot-docs.git
	branch = master
[submodule "references/godot-rust"]
	path = references/godot-rust-book
	url = https://github.com/godot-rust/book.git
	branch = master
